<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.ivy.weather">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.ivy.main.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts"/>
        </activity>

        <activity android:name=".WeatherActivity"/>
        <activity android:name="com.ivy.ruler.RulerActivity"/>
        <activity android:name="com.ivy.bomb.BombActivity"/>

        <activity android:name="com.ivy.setting.SettingActivity"
            android:parentActivityName="com.ivy.weather.WeatherActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ivy.weather.WeatherActivity" />
        </activity>
    </application>

</manifest>